In [1]:
import pandas
from sklearn import linear_model

In [7]:
df = pandas.read_excel("car.xlsx")
df.head()

          Car       Model  kilometer  Alter   preis
0      Toyota        Aygo       1000     10   12000
1  Mitsubishi  Space Star          0      0   30000
2       Skoda      Citigo     195000     15    1000
3        Fiat         500      20000      5    7000
4        Mini      Cooper          0      1  100000

In [8]:
X = df[['kilometer', 'Alter']]
y = df['preis']
df.head()

          Car       Model  kilometer  Alter   preis
0      Toyota        Aygo       1000     10   12000
1  Mitsubishi  Space Star          0      0   30000
2       Skoda      Citigo     195000     15    1000
3        Fiat         500      20000      5    7000
4        Mini      Cooper          0      1  100000

In [9]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

#predict the CO2 emission of a car where the weight is 2300kg, and the volume is 1300cm3:
predictedCO2 = regr.predict([[2300, 1]])

In [11]:
print(predictedCO2)

[9586.1637482]