In [4]:
#13.02.2021
#
import pandas
from sklearn import linear_model

In [16]:
df = pandas.read_excel("car.xlsx")
X = df[['Weight', 'Volume']]
y = df['CO2']
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyota        Aygo    1000     790   99
1  Mitsubishi  Space Star   12000    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [17]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

predictedCO2 = regr.predict([[2300, 1300]])

In [18]:
print(predictedCO2)

[107.59468594]